/* @override 
	http://pixelstore.se/PxlProjects/template.css
	https://pixelstore.se/PxlProjects/template.css
	https://bb.githack.com/p2d/pxlprojects/raw/e5067efd8c9f4c5c564278bb6901264189948004/template.css */

body, .mainpagecontent {
	font-family: Helvetica Neue, Arial !important;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-top: 39px;
}







/* ######### Header ##########*/

img#loginheaderimage {
	width: 143px;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
}

#headerleftcontainer {
	position: absolute;
	left: 140px;
	white-space: nowrap;
	margin-top: 6px;
}

#headerleftcontainer br {
	display: none;
}

#headerdetailslogo {
	float: left !important;
	margin-left: 21px;
}

#headerdetailscontainer {
	position: fixed !important;
	width: 100%;
	height: 39px;
	z-index: 99;
	background: #000;
	top: 0;
}

div#headerdetailstime {
	display: none;
}

div#headerdetailsdate {
	border-bottom: none;
	margin-top: 5px;
}

div.loginlogobox.custom a {
	float: none;
}

#headerlinks {
	display: none;
}

#headernavrightmylinkscontainer {
	display: none;
}

#headernavrightmylinks {
	margin-top: 7px !important;
	margin-right: 0;
}



.headernavtab {
	padding: 4px 15px !important;
	font-size: 14px !important;
}

#pagefooter {
	display: none;
}

img#headerlogo {
	height: 21px;
	margin-right: 16px;
	margin-bottom: 2px;
	margin-top: 8px;
}

div#headerdetailsdatecontainer {
	position: fixed;
	right: 8px;
}



div#headerdetailstitle {
	display: none;
}

div#headernavcontainertoplevel {
	padding-top: 22px;
}

div#headerdetailsusercontainer {
	margin-left: 0;
	margin-top: 5px;
	height: auto;
	padding-top: 0;
	border-left: 1px solid #333;
}


#headerdetailsdateday {
	font-size: inherit !important;
}

#headernavrightcontainer {
	position: fixed;
	top: 0;
	right: 58px;
	z-index: 99;
}

#headernavrightcontainer #headernavrighthelp {
	display: none;
}

#headernavrightcontainer  #headernavrightsearch {
	background: #353535;
	font-size: 12px;
	margin-top: 3px;
}

#headernavrightsearchclear {
	position: absolute !important;
	right: 41px !important;
	top: 3px;
}

div#headernavaddbutton {
	background-color: #000 !important;
}

div#headernavaddlinks {
	border-color: #797979 !important;
}




/* ######### Content ##########*/

div.groupcontainerheader, div.pdmodulecontainerheader  {
	background-color: #292929;
	color: #dbdbdb !important;
	border-radius: 5px 5px 0 0;
}

div.groupcontainerheader a, div.pdmodulecontainerheader div, div.pdmodulecontainerheader a {
	color: #dbdbdb !important;
}

.timelineproject {
	background: #000 !important;
}



